<!-- ALL JS HERE -->
<script src="/assets/lib/moment/moment-with-locales.min.js"></script>

<!-- ALL JS HERE -->
<script src="/assets/js/base/jquery-1.12.0.min.js"></script>

<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="/assets/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
(Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="/assets/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assets/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/assets/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assets/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/assets/revolution-slider/slider-active.js"></script>

<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.isotope.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/ajax-mail.js"></script>
<script src="/assets/js/plugins.js"></script>

<!-- Datatables -->
<script type="text/javascript" src="/assets/lib/datatables/DataTables-1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/lib/datatables/DataTables-1.10.13/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/lib/datatables/Buttons-1.2.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/assets/lib/datatables/Responsive-2.1.0/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/rivercruises.js"></script>

<!-- Remote data -->
<script src="/assets/js/data.js"></script>

<!-- GOOGLE MAP JS -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArfa1jFlTOi9r1IxI-CFg8A7t0MH-MYaU"></script>
<script src="/assets/js/adam.google.map.js"></script>
<script src="/assets/js/main.js"></script>