<!-- FOOTER AREA START -->
<footer class="footer-area fixed-footer footer-style-two">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="footer-logo">
                        <h3><a href="#">Речные круизы</a></h3>
                    </div>
                    <div class="footer-fun-text">
                        <p>Мы в соцсетях</p>
                    </div>
                    <div class="social-bookmark-2-wrapper">
                        <ul class="social-bookmark-2">
                            <li><a href="https://www.facebook.com/mosturflot"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href="https://twitter.com/mosturflot"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/mosturflot"><i class="fa fa-instagram"></i></a></li>

                        </ul>
                    </div>
                    <div class="footer-menu">
                        <ul class="footer-menu text-center hover-style-one">
                            <li><a href="#page-top">Главная</a></li>
                            <li><a href="#gallery-id">Теплоходы</a></li>
                            <li><a href="#about-id">Расписание</a></li>
                            <li><a href="#contact-id">Контакты</a></li>
                            <li><a href="/eula">Пользовательское соглашение</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER AREA END -->