<!-- ALL JS HERE -->
<script src="/assets/lib/moment/moment-with-locales.min.js"></script>

<!-- ALL JS HERE -->
<script src="/assets/js/base/jquery-1.12.0.min.js"></script>

<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.isotope.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/ajax-mail.js"></script>
<script src="/assets/js/plugins.js"></script>

<!-- Remote data -->
<script src="/assets/js/data.js"></script>

<script src="/assets/js/main.js"></script>