<!-- Breadcrumb area start -->
<div class="breadcrumb-area breadcrumb-style-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-cat">Подробности круиза</h2>
                    <ul class="breadcrumb-list">
                        <li><a href="index.html">Главная</a></li>
                        <li>Маршрут, каюты, цены</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area end -->