<!-- HEADER AREA -->
<header class="adam-header">
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="/">{{ site.title }}</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right hover-style-one">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
                            <li><a class="page-scroll" href="/#page-top">Главная</a></li>
                            <li><a class="page-scroll" href="/#table-id">Расписание</a></li>
                            <li><a class="page-scroll" href="/#karta-id">Схема</a></li>
                            <li><a class="page-scroll" href="/#gallery-id">Теплоходы</a></li>
                            <li><a class="page-scroll" href="/#prising-id">Цены</a></li>
                            <li><a class="page-scroll" href="/#news-id">Новости</a></li>
                            <li><a class="page-scroll" href="/#contact-id">Контакты</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</header>
<!-- END HEADER AREA -->