<!-- ADAM CALL TO ACTION AREA START -->
<div class="adam-standard-row call-to-action-area white-bg ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <div class="call-to-text">
                    <h4>УНИКАЛЬНЫЙ КРУИЗ по Северной Двине</h4>
                    <p>Отправление из Архангельска. Специальное предложение этого сезона!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="coll-to-btn">
                    <a class="btn-medium" href="cruise-detailed.html?tour=3706&ship=242">смотреть</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ADAM CALL TO ACTION AREA END -->