<!-- CONTACT BODY START  -->
<div id="contact-id" class="adam-standard-row white-bg ptb-100 contact-style-two">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="area-heading area-heading-style-two text-center">
                    <h2 class="area-title">ОСТАЛИСЬ ВОПРОСЫ?</h2>
                    <p>Мы готовы помочь вам в выборе подходящего круиза. Заполните форму обратной связи или обращайтесь к нашим менеджерам напрямую.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- CONTACT FROM START -->
            <div class="col-md-3 col-sm-4">
                <div class="single-contact-option text-left">
                    <i class=" icon-map"></i>
                    <h4>Адрес</h4>
                    <p>Ленинградское шоссе, 59, офис 401</p>
                    <p>Москва, Россия</p>
                </div>
                <div class="single-contact-option text-left">
                    <i class="icon-phone"></i>
                    <h4>Телефон</h4>
                    <p>Москва: +7 (495) 22-17-222</p>
                </div>
                <div class="single-contact-option text-left">
                    <i class="icon-envelope"></i>
                    <h4>Почта</h4>
                    <a href="mailto:info@rknt.ru">info@rknt.ru</a>
                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="contact-page-area">
                    <form id="adam-contact-form" action="https://script.google.com/macros/s/AKfycbw3h9PA2tKsq5An38asfQSfHUyQEeEFiHe5FMGtTi6JV10lrhE/exec" method="post" name="adam_message_form" class="contcat-form  text-center">
                        <div class="form-head fix">
                            <div class="marg-area">
                                <input type="text" name="name" placeholder="Имя">
                                <input type="hidden" name="url" value="http://www.rknt.ru">
                            </div>
                            <div class="marg-area">
                                <input type="email" name="email" placeholder="Ваш Email">
                                <input type="text" name="phone" class="slick-slide" id="contact-phone" value="">
                            </div>
                        </div>
                        <div class="form-body">
                            <input type="text" name="subject" placeholder="Тема">
                            <textarea name="message" class="text-area" cols="30" rows="10" placeholder="Пожелания"></textarea>
                        </div>
                        <input type="submit" class="btn-submitt btn-medium" value="Отправить">
                    </form>
                    <p class="adam-form-send-message"></p>
                </div>
            </div>
            <!-- CONTACT FROM END -->
        </div>
    </div>
</div>
<!-- CONTACT BODY END -->