<!-- TEMPLATE STANDARD ROW FOR COUNTER -->
<div class="adam-standard-row gray-bg clearfix">
    <!-- FUN COUNTER AREA START -->
    <div class="counter-area">
        <div class="single-counter">
            <div class="counter-icon">
                <i class="icon-happy"></i>
            </div>
            <div class="counter-text">
                <p class="counter-number">25000</p>
                <h4>Туристов ежегодно</h4>
            </div>
        </div>
        <div class="single-counter">
            <div class="counter-icon">
                <i class=" icon-trophy"></i>
            </div>
            <div class="counter-text">
                <p class="counter-number">12</p>
                <h4>Теплоходов</h4>
            </div>
        </div>
        <div class="single-counter">
            <div class="counter-icon">
                <i class="icon-presentation"></i>
            </div>
            <div class="counter-text">
                <p class="counter-number">110</p>
                <h4>Маршрутов</h4>
            </div>
        </div>
        <div class="single-counter">
            <div class="counter-icon">
                <i class="icon-pictures"></i>
            </div>
            <div class="counter-text">
                <p class="counter-number">170</p>
                <h4>Тематических круизов</h4>
            </div>
        </div>
    </div>
    <!-- FUN COUNTER AREA END -->