<!-- TEMPLATE STANDARD ROW START FOR TEAM -->
<div id="karta-id" class="adam-standard-row white-bg ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="area-heading area-heading-style-two text-center">
                    <h2 class="area-title">СХЕМА КРУИЗНЫХ МАРШРУТОВ</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="karta_hype_container" style="margin:auto;position:relative;width:850px;height:750px;overflow:hidden;">
                    <script type="text/javascript" charset="utf-8" src="/assets/karta.hyperesources/karta_hype_generated_script.js?50624"></script>
                </div>

                <div style="display:none" aria-hidden=true>

                    <div>Москва - Пермь</div>
                    <div>Рязань</div>
                    <div>Москва - Астрахань</div>
                    <div>Астрахань</div>
                    <div>Ярославль</div>
                    <div>Соловецкие острова</div>
                    <div>Нижний Новгород</div>
                    <div></div>
                    <div>Казань</div>
                    <div>Москва</div>
                    <div>Музей деревянного зодчества «Кижи"</div>
                    <div>Углич</div>
                    <div>Санкт-Петербург</div>
                    <div>Самара</div>
                    <div>Кирилло-Белозерский монастырь</div>
                    <div>Пермь</div>
                    <div>Остров Валаам</div>
                    <div>Москва - Санкт-Петербург
                    </div>
                    <div>Волгоград</div>
                    <div>Московская кругосветка</div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- TEMPLATE STANDARD ROW START FOR TEAM -->