<!-- TEMPLATE STANDARD ROW START FOR BLOG -->
<div id="news-id" class="adam-standard-row gray-bg ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="area-heading area-heading-style-two text-center">
                    <h2 class="area-title">Новости</h2>
                    <p>Свежая информация о новых маршрутах, теплоходах и тенденциях круизного рынка России</p>
                </div>
            </div>
        </div>
        <div class="row news-list">
            <div class="col-md-4 col-sm-6">
                <article class="blog-post">
                    <div class="post-thumbnail">
                        <a href="#"><img src="/assets/img/blog/1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <div class="post-content-inner">
                            <h3><a href="#">Новый теплоход</a></h3>
                            <ul class="meta-info">
                                <li><a href="#">Янв. 24, 2017</a></li>
                            </ul>
                            <p>В России начинается масштабная программа обновления речного круизного флота</p>
                        </div>
                        <div class="post-footer-meta clearfix">

                            <div class="read-more-wrapper">
                                <a href="blog-post-1" class="read-more">Читать</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="blog-post">
                    <div class="post-thumbnail">
                        <a href="#"><img src="/assets/img/blog/2.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <div class="post-content-inner">
                            <h3><a href="#">Праздничный круиз</a></h3>
                            <ul class="meta-info">
                                <li><a href="#">Янв. 16, 2017</a></li>
                            </ul>
                            <p>В продаже появился праздничный круиз на теплоходе «А.Грин» с 5.05.17 по 9.05.17</p>
                        </div>
                        <div class="post-footer-meta clearfix">
                            <ul class="post-action-btn">
                                <li><a href="#"><i class="icon-refresh"></i></a></li>
                                <li><a href="#"><i class="icon-chat"></i></a></li>
                                <li><a href="#"><i class="icon-heart"></i></a></li>
                            </ul>
                            <div class="read-more-wrapper">
                                <a href="blog-post-2" class="read-more">Читать</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4 hidden-sm">
                <article class="blog-post">
                    <div class="post-thumbnail">
                        <a href="#"><img src="/assets/img/blog/3.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <div class="post-content-inner">
                            <h3><a href="#">Круизы по реке Лена</a></h3>
                            <ul class="meta-info">
                                <li><a href="#">Янв. 13, 2017</a></li>
                            </ul>
                            <p>В этом году у вас есть возможность отправиться в круиз по реке Лена.</p>
                        </div>
                        <div class="post-footer-meta clearfix">
                            <ul class="post-action-btn">
                                <li><a href="#"><i class="icon-refresh"></i></a></li>
                                <li><a href="#"><i class="icon-chat"></i></a></li>
                                <li><a href="#"><i class="icon-heart"></i></a></li>
                            </ul>
                            <div class="read-more-wrapper">
                                <a href="blog-post-3" class="read-more">Читать</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- TEMPLATE STANDARD ROW END FOR BLOG -->