<!-- BRAND ICON AREA START -->
<div class="adam-standard-row gray-bg clients-log ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="client-logo-wrapper">
                    <div class="single-brand-logo">
                        <img src="/assets/img/client/1.jpg" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="/assets/img/client/2.png" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="/assets/img/client/3.jpg" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="/assets/img/client/4.jpg" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="/assets/img/client/5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BRAND ICON AREA END -->