<!-- PRICE TABLE START -->
<div id="prising-id" class="adam-standard-row price-table-area white-bg ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="area-heading area-heading-style-two text-center">
                    <h2 class="area-title">Цены</h2>
                    <p>Стоимость размещения на теплоходах в расчёте на одного человека.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-price-table text-center">
                    <div class="prising-head">
                        <h4 class="plan-title">Эконом</h4>
                    </div>
                    <div class="prising-content">
                        <div class="price-tage-wrap">
                            <h2 class="price-value"><sup>руб.</sup>3300<sub class="duration"> /В СУТКИ</sub></h2>
                        </div>
                        <ul class="table-content">
                            <li>2-х местная каюта</li>
                            <li>без питания</li>
                            <li>без экскурсий</li>
                            <li>каюта с удобствами</li>
                        </ul>
                    </div>
                    <div class="prising-footer">
                        <a class="btn-medium" href="#adam-about-id">искать круиз</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-price-table text-center table-active">
                    <div class="prising-head">
                        <h4 class="plan-title">стандарт</h4>
                    </div>
                    <div class="prising-content">
                        <div class="price-tage-wrap">
                            <h2 class="price-value"><sup>руб.</sup>5350<sub class="duration"> /В СУТКИ</sub></h2>
                        </div>
                        <ul class="table-content">
                            <li>2-х местная каюта</li>
                            <li>завтрак</li>
                            <li>экскурсии</li>
                            <li>каюта с удобствами</li>
                        </ul>
                    </div>
                    <div class="prising-footer">
                        <a class="btn-medium" href="#adam-about-id">искать круиз</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-price-table text-center">
                    <div class="prising-head">
                        <h4 class="plan-title">премиум</h4>
                    </div>
                    <div class="prising-content">
                        <div class="price-tage-wrap">
                            <h2 class="price-value"><sup>руб.</sup>6600<sub class="duration"> /В СУТКИ</sub></h2>
                        </div>
                        <ul class="table-content">
                            <li>2-х местная каюта</li>
                            <li>3-х разовое питание</li>
                            <li>экскурсии</li>
                            <li>каюта с удобствами</li>
                        </ul>
                    </div>
                    <div class="prising-footer">
                        <a class="btn-medium" href="#adam-about-id">искать круиз</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 hidden-md col-sm-6">
                <div class="single-price-table text-center">
                    <div class="prising-head">
                        <h4 class="plan-title">люкс</h4>
                    </div>
                    <div class="prising-content">
                        <div class="price-tage-wrap">
                            <h2 class="price-value"><sup>руб.</sup>8250<sub class="duration"> /В СУТКИ</sub></h2>
                        </div>
                        <ul class="table-content">
                            <li>каюта с балконом</li>
                            <li>3-х разовое питание</li>
                            <li>экскурсии</li>
                            <li>дополнительные услуги</li>
                        </ul>
                    </div>
                    <div class="prising-footer">
                        <a class="btn-medium" href="#adam-about-id">искать круиз</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PRICE TABLE END -->