<!-- TEMPLATE STANDARD ROW FOR SKILL -->
<div class="adam-standard-row gray-bg about-us-img">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block-text-skill title-bottom-line-one pt-100 pb-70">
                    <h3 class="area-title">КРУИЗЫ КЛАССА ЛЮКС</h3>
                    <p>Впервые со времён Советского Союза был построен новый комфортабельный круизный лайнер "Александр Грин". Оснащённый по последнему слову техники и соответствующий самым высоким стандартам обслуживания, он является образцом современного круизного отдыха на высшем уровне.</p>
                    <p class="last-para-graph">В данный момент круизы на этом теплоходе полностью выкуплены иностранными туристами. Однако по ходу сезона возможно появление свободных мест в открытой продаже. Следите за нашими новостями.</p>
                    <div class="shear-block-two">
                        <ul>
                            <li><a href="https://www.facebook.com/mosturflot"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/mosturflot"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/mosturflot"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block-image">
                    <img src="/assets/img/bg/grin.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TEMPLATE STANDARD ROW FOR SKILL END -->