<!-- ADAM NEWSLETTER AREA START -->
<div class="adam-standard-row adam-newsletter-area white-bg ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="area-heading area-heading-style-two text-center">
                    <h2 class="area-title">подпишитесь на новости</h2>
                    <p>Мы не будем тревожить вас избыточной информацией. Только важные новости нашей компании.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="adam-news-letter text-center">
                    <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=mosturflot/BBsA', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><input type="email" name="email" placeholder="Ваш E-mail" /><input type="hidden" value="mosturflot/BBsA" name="uri"/><input type="hidden" name="loc" value="ru_RU"/><button type="submit">оформить</button></form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ADAM NEWSLETTER AREA END -->