<!-- TESTIMONIAL AREA START -->
<div class="adam-standard-row testimonial ptb-100 bg-2 bg-opacity-white-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-wrapper text-center testimonial-slider">
                    <!-- START SINGLE TESTIMONIAL -->
                    <div class="single-testimonial">
                        <blockquote>
                            <h4>Теплоход "Княжна Виктория"</h4>
                            <p>В весенних круизах я с этим т/х с самого первого его плавания в 2011 году. В осеннем круизе — первый раз. Но впечатления от именно этого круиза превзошли даже самые мои большие ожидания. Все было настолько великолепно, что восхищению моему нет предела. Осенний круиз на т/х «Княжна «Виктория» незабываем!</p>
                            <img src="/assets/img/avatar/1.jpg" alt="" class="client-image">
                            <p class="client-name">Лидия Звонарева<span class="position">круиз 2015 года</span></p>
                        </blockquote>
                    </div>
                    <!-- END SINGLE TESTIMONIAL -->
                    <!-- START SINGLE TESTIMONIAL -->
                    <div class="single-testimonial">
                        <blockquote>
                            <h4>Теплоход "Михаил Булгаков"</h4>
                            <p>Вчера вернулись из круиза «Москва-СПб (острова)-Москва. Огромное спасибо за незабываемый отдых! Спасибо всей команде теплохода: экипажу и тур бригаде, за создание радостного и праздничного настроения на все 13 дней!</p>
                            <img src="/assets/img/avatar/2.jpg" alt="" class="client-image">
                            <p class="client-name">Юлия <span class="position">102 каюта</span></p>
                        </blockquote>
                    </div>
                    <!-- END SINGLE TESTIMONIAL -->
                    <!-- START SINGLE TESTIMONIAL -->
                    <div class="single-testimonial">
                        <blockquote>
                            <h4>Теплоход "Николай Карамзин"</h4>
                            <p>Нам с мужем очень понравился круиз. Маршрут был замечательный, с погодой повезло, очень хорошее обслуживание. Впечатлений от всего увиденного много и самые яркие! Благодарность команде и всему обслуживающему персоналу за поддержание хорошего настроения во время всего пути. </p>
                            <img src="/assets/img/avatar/3.jpg" alt="" class="client-image">
                            <p class="client-name">Татьяна Юрьевна<span class="position">Круиз 2016 года</span></p>
                        </blockquote>
                    </div>
                    <!-- END SINGLE TESTIMONIAL -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TESTIMONOIAL AREA END -->